# Codegen artifacts
.spec_checksums

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env
.env.local
dist/
*.egg-info/
src/*.egg-info/
.pytest_cache/
.python-version

# OS
.DS_Store

# Tools
pyrightconfig.json
.speakeasy/

# IDE
.vscode/
.idea/
*.swp

# CI artifacts
breaking_changes_report.md

# MkDocs
site/

# Claude
.claude
