openapi: 3.0.3
info:
  title: Workiva API
  version: 1.2734.0
  description: 2026-01-01 Version of the Workiva API
servers:
  - url: https://api.app.wdesk.com
    description: US
  - url: https://api.eu.wdesk.com
    description: EU
  - url: https://api.apac.wdesk.com
    description: APAC
tags:
  - name: Activities
    description: |
      Activities enable you to retrieve a list of actions performed in the organization or a specific workspace, such as: <ul> <li>User logins</li> <li>Added users</li> <li>Changes to roles</li> <li>Changes to organization or workspace settings</li> </ul> These activities are also available in the Workiva platform and can be exported from Organization Admin or Workspace Settings. <br /><br /> To access activities through this API or in Workiva, a user must have a valid admin role: <ul> <li>Org User Admin</li> <li>Org Workspace Admin</li> <li>Org Security Admin, for organization activities</li> <li>Workspace Owner, for workspace activities</li> </ul> Learn more about these roles [here](https://support.workiva.com/hc/en-us/articles/360036006051-Organization-roles) and Workiva activities [here](https://support.workiva.com/hc/en-us/articles/360035646392-View-organization-activities).
  - name: Admin
    description: Endpoints to manage organizations, workspaces, groups, and users
  - name: Content
    description: Endpoints for reading and writing Workiva content. See [**Introduction to Content Endpoints**](ref:content-guide) for more information.
  - name: Documents
    description: Documents enable you to organize and review data in collaborative files with linked text, documents, and images. Use these endpoints to manage documents and their sections in the Workiva Platform.
  - name: Files
    description: Endpoints to manage files and folders.
  - name: Graph
    description: The Graph endpoints enable access to Integrated Risk workspaces, such as to pull reports and records, create and edit records, and more. <br /><br /> Please refer to the [Graph Guides](ref:graph-guide) for further documentation and examples.
  - name: IAM
    description: |
      Before your application can access private data using other Workiva APIs, it must obtain an access token that grants access to those APIs.

      Use the IAM REST API endpoint to exchange your OAuth credentials (clientID and clientSecret) for a token.
  - name: Milestones
    description: Endpoints for working with Milestones. See [**Introduction to Milestones Endpoints**](ref:milestones-guide) for more information.
  - name: Operations
    description: Use these endpoints to manage operations, such as to check their status.
  - name: Permissions
    description: Endpoints to manage Permissions
  - name: Spreadsheets
    description: Spreadsheets enable you to work with large, complex data in a familiar, collaborative, and controlled environment. Use these endpoints to manage spreadsheets and their sheets in the Workiva platform.
  - name: Presentations
    description: Endpoints to manage presentations
  - name: Reports
    description: Endpoints used to generate Admin reports
  - name: Sustainability
    description: Endpoints to manage Sustainability Programs
  - name: Tasks
    description: |
      Tasks enable users to manage projects, organize responsibilities, and meet deadlines in the Workiva platform. Use these endpoints to create and manage tasks.
  - name: Test Forms
    description: |
      These endpoints are used to manage test forms, test phases, and matrices. They are also used to manage attachments on test phases, matrices, and samples.
paths:
  /activities/{activityId}:
    get:
      description: |
        Retrieves an activity given its ID.

        :::{admonition} Attention
        :class: danger
        The Workiva Platform does not guarantee that actions taken in the platform will always result in the same Activity ID. Please rely on the ActivityAction `alias` field to determine if an activity is relevant to your use case.
        :::
      operationId: getActivityById
      parameters:
        - $ref: '#/components/parameters/ActivityId'
      responses:
        "200":
          content:
            application/json:
              example:
                id: NjE0MjIxODItOTVkYi00YmFjLWI4ZjktNzRkMDg1OTdlMDgwOlFYVmthWFJNYjJjZVFYVmthWFJNYjJjNk5ETXpaamN4TUdVMU5HRTBOR1V5Tm1JeU5ERmtOREJsWXpNMlpHWXhNVFE=
                description: Adam Admin added the user 'John Public' to the workspace 'Organization Management'
                action:
                  id: com.workiva.administration.workspace_membership.create
                  type: com.workiva.administration.workspace_membership.create
                  alias: workspace_membership_create
                  name: Workspace membership created
                  category: Administration
                  deprecated: false
                performer:
                  id: V0ZWc2VyHzE0NT8xNzAyMDA
                  type: com.workiva.iam.principal.user
                  displayName: Adam Admin
                  uniqueName: admin_admin@example.com
                  ipAddress: 192.168.1.1
                targets:
                  - id: V0ZVc2VyHzY0ODY4NjQ1MzE1NTQ
                    uniqueName: john_public
                    displayName: John Public
                    type: com.workiva.administration.user
                activityDateTime: "2021-01-30T13:55:01Z"
                workspace:
                  id: QWNjb3VudB81NjM5NDQ1NjA0NzI4ODMy
                  name: Organization Management
                organization:
                  id: d6e178fd-4dd5-47e5-9457-68dd64b03655
                  name: Workiva Inc.
                outcome: success
                tags:
                  - correlationId:1a2b3c4d5e6f000db88c0009f9f1
                  - eventId:LM4s-wJyTgW4NTbNZi_86v
              schema:
                $ref: '#/components/schemas/Activity'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - activity:read
      summary: Retrieve a single activity
      tags:
        - Activities
  /activityActions:
    get:
      description: |
        Retrieves a list of actions performed that may produce activities.

        :::{admonition} Attention
        :class: danger
        The Workiva Platform does not guarantee that actions taken in the platform will always result in the same Activity ID. Please rely on the ActivityAction `alias` field to determine if an activity is relevant to your use case.
        :::
      operationId: getActivityActions
      parameters:
        - $ref: '#/components/parameters/MaxPageSize'
        - $ref: '#/components/parameters/Next'
        - $ref: '#/components/parameters/OrderBy'
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - id: com.workiva.administration.workspace_membership.create
                    alias: workspace_membership_create
                    name: Workspace membership created
                    category: Administration
                    deprecated: false
                  - id: com.workiva.administration.workspace_membership.delete
                    alias: workspace_membership_delete
                    name: Workspace membership deleted
                    category: Administration
                    deprecated: false
                '@nextLink': <opaque_url>
              schema:
                $ref: '#/components/schemas/ActivityActionsListResult'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - activity:read
      summary: Retrieve a list of activity actions
      tags:
        - Activities
  /activityActions/{activityActionId}:
    get:
      description: |
        Returns an action performed, given its ID

        :::{admonition} Attention
        :class: danger
        The Workiva Platform does not guarantee that actions taken in the platform will always result in the same Activity ID. Please rely on the ActivityAction `alias` field to determine if an activity is relevant to your use case.
        :::
      operationId: getActivityActionById
      parameters:
        - $ref: '#/components/parameters/ActivityActionId'
      responses:
        "200":
          content:
            application/json:
              example:
                id: com.workiva.administration.workspace_membership.create
                alias: workspace_membership_create
                name: Workspace membership created
                category: Administration
                deprecated: false
              schema:
                $ref: '#/components/schemas/ActivityAction'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - activity:read
      summary: Retrieve a single activity action
      tags:
        - Activities
  /content/anchors/{anchorId}:
    get:
      description: Returns an [`Anchor`](ref:content#anchor) given its id.
      operationId: getAnchorById
      parameters:
        - $ref: '#/components/parameters/AnchorId'
        - $ref: '#/components/parameters/Revision'
      responses:
        "200":
          content:
            application/json:
              example:
                id: WAxsaHxoYvTB4D0twUm6YtiF99TNO0gBkSOhgYBed9AMB99EUxqELDQychBeGR8SkZubm5sH
                content:
                  type: richText
                  richText: WA3NycHJw1VgQZyMYOgbw3kkVJLvc6HF6UnBwbY8WWHcsO3LsRFxaGng2cR
                revision: 24601abc
                attachmentPoint:
                  type: richTextSelection
                  richTextSelection:
                    type: sourceLink
                    selection:
                      start:
                        paragraphIndex: 0
                        offset: 0
                      stop:
                        paragraphIndex: 0
                        offset: 10
              schema:
                $ref: '#/components/schemas/Anchor'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve an anchor by ID
      tags:
        - Content
  /content/destinationLinks/{destinationLinkId}:
    get:
      description: Returns a [`DestinationLink`](ref:content#destinationlink) given its id
      operationId: getDestinationLinkById
      parameters:
        - $ref: '#/components/parameters/DestinationLinkId'
        - $ref: '#/components/parameters/Revision'
      responses:
        "200":
          content:
            application/json:
              example:
                content:
                  richText: WA9ATl59AXnS148HVGnq9ARvjSyJtUu7DObtx9AfnvtSBXU5YqMpFAZR36Mai1g
                  type: richText
                id: WA5SVkJWXOy5MbSHX25Qf9BVz5xTvLfJadt5eXzqTxLT4o2Lo1ceQHmLbSppCdBhQUFBSE
                revision: 2c6438ab4541de6d
                source:
                  anchor:
                    anchor: WA46Pio9ANITRWdzvNwY4F50bj3yHRZoyHrY2N1L7rNyQywqAva9B4dgqzIvIqHAg4ODg6e
                    content:
                      richText: WA9ATl59AXnS148HVGnq9ARvjSyJtUu7DObtx9AfnvtSBXU5YqMpFAZR36Mai1g
                      type: richText
                    revision: 2c6438ab4541de6f
                  type: anchor
                status: connected
              schema:
                $ref: '#/components/schemas/DestinationLink'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve a destination link by id
      tags:
        - Content
  /content/destinationLinks/{destinationLinkId}/sourceConversion:
    post:
      description: |
        Converts a destination link into a source link. The previous source, if any, will be converted into a destination link.

        Responses include a `Location` header, which indicates where to poll for results. For more details on long-running
        job polling, see [Operations endpoint](ref:getoperationbyid). When the source conversion
        completes, its status will be `completed`, and the response body includes a `resourceURL`. For more details on the `resourceURL`
        see [operation results endpoint](ref:getdestinationlinksourceconversionresults).
        For more details, see [Authentication documentation](ref:authentication).
      operationId: destinationLinkSourceConversion
      parameters:
        - $ref: '#/components/parameters/DestinationLinkId'
      responses:
        "202":
          description: Accepted
          headers:
            Location:
              description: The location to poll for the operation result.
              schema:
                type: string
            Retry-After:
              description: The number of seconds to wait before polling for a result and between polling attempts.
              schema:
                type: integer
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:write
      summary: Initiate a destination link conversion
      tags:
        - Content
  /content/drawings/{drawingId}/elements:
    get:
      description: Returns a [`DrawingElementListResult`](ref:content#drawingelementlistresult) given its id
      operationId: getDrawingElementsById
      parameters:
        - $ref: '#/components/parameters/DrawingId'
        - $ref: '#/components/parameters/Revision'
        - $ref: '#/components/parameters/MaxPageSize'
        - $ref: '#/components/parameters/Next'
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - type: shape
                    shape:
                      id: 2c6438ab45553dfc
                      shapeType: rectangle
                      position:
                        type: designPageRelative
                        designPageRelative:
                          x: 142.88
                          'y': -1.2
                      dimensions:
                        width: 182.25
                        height: 374.09
                      margins:
                        top: 10
                        bottom: 10
                        right: 10
                        left: 10
                      padding:
                        top: 10
                        bottom: 10
                        right: 10
                        left: 10
                      wrapStyle: wrapText
                      rotation: 0
                '@nextLink': <opaque_url>
              schema:
                $ref: '#/components/schemas/DrawingElementListResult'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve drawing elements by id
      tags:
        - Content
  /content/drawings/{drawingId}/anchors:
    get:
      description: Returns an [`AnchorsListResult`](ref:content#anchorslistresult) for a given drawingId.
      operationId: getDrawingAnchors
      parameters:
        - $ref: '#/components/parameters/DrawingId'
        - $ref: '#/components/parameters/MaxPageSize'
        - $ref: '#/components/parameters/Next'
        - $ref: '#/components/parameters/Revision'
      responses:
        "200":
          content:
            application/json:
              example:
                '@nextLink': <opaque_url>
                data:
                  - attachmentPoint:
                      drawingSelection:
                        selection:
                          - 2c6439ab45553df3
                        type: comment
                      type: drawingSelection
                    content:
                      drawing: WA3NycHJw1VgQZyMYOgbw3kkVJLvc6HF6UnBwbY8WWHcsO3LsRFxaGng2cR
                      type: drawing
                    extensionTypes:
                      - comment
                    id: WAxsaHxoYvTB4D0twUm6YtiF99TNO0gBkSOhgYBed9AMB99EUxqELDQychBeGR8SkZubm5sH
                    revision: 24601abc
                  - attachmentPoint:
                      drawingRichTextSelection:
                        selection:
                          drawingElement: 2c6439ab45553df3
                          start:
                            offset: 0
                            paragraphIndex: 2
                          stop:
                            offset: 0
                            paragraphIndex: 3
                        type: sourceLink
                      type: drawingRichTextSelection
                    content:
                      drawing: WA3NycHJw1VgQZyMYOgbw3kkVJLvc6HF6UnBwbY8WWHcsO3LsRFxaGng2cR
                      type: drawing
                    extensionTypes:
                      - destinationLink
                    id: WAxsaHxoYvTB4D0twUm6YtiF99TNO0gBkSOhgYBed9AMB99EUxqELDQychBeGR7SkZucm5sD
                    revision: 24601abc
              schema:
                $ref: '#/components/schemas/AnchorsListResult'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve a list of drawing anchors
      tags:
        - Content
  /content/drawings/{drawingId}/anchors/{anchorId}:
    get:
      description: Returns an [`Anchor`](ref:content#anchor) given its id.
      operationId: getDrawingAnchorById
      parameters:
        - $ref: '#/components/parameters/DrawingId'
        - $ref: '#/components/parameters/AnchorId'
        - $ref: '#/components/parameters/Revision'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Anchor'
              example:
                attachmentPoint:
                  drawingRichTextSelection:
                    selection:
                      drawingElement: 2c64382b45553de7
                      start:
                        offset: 0
                        paragraphIndex: 0
                      stop:
                        offset: 9
                        paragraphIndex: 0
                    type: sourceLink
                  type: drawingRichTextSelection
                content:
                  drawing: WA3Bxc3FzwQKGTFE3MsrXE4JTCTR45nJ5VXdz8JnQj6GVMSra6zB8v27p9Aw
                  type: drawing
                extensionTypes:
                  - destinationLink
                id: WA4OChoKAMvF1v6LEwTkk4HGg9AseLFYGKpoSAA2ojfFJmwtkpGMOPTJ0aCICAIh99uiTspzmUQsW60g3xWWoeKDAMDAwOT
                revision: 2c6438ab45553def
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve a drawing anchor by ID
      tags:
        - Content
  /content/drawings/{drawingId}/anchors/{anchorId}/extensions:
    get:
      description: Returns a paginated list of [`AnchorExtensions`](ref:content#anchorextension) for a given anchorId.
      operationId: getDrawingAnchorExtensions
      parameters:
        - $ref: '#/components/parameters/DrawingId'
        - $ref: '#/components/parameters/AnchorId'
        - $ref: '#/components/parameters/MaxPageSize'
        - $ref: '#/components/parameters/Next'
        - $ref: '#/components/parameters/Revision'
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - id: 2c64382b45553de1
                    type: destinationLink
              schema:
                $ref: '#/components/schemas/AnchorExtensionsListResult'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve a list of drawing anchor extensions
      tags:
        - Content
  /content/images/upload:
    post:
      description: |
        Retrieves a URL that can be used to upload an image, and an operationId to track the image upload progress. Once uploaded, the image can be inserted in content.

        Image uploads must conform to the following constraints:

        - An image must be uploaded once per usage in content.
        - Image uploads must complete within ten minutes.
        - The file size of the uploaded image must 75 MB or smaller.
        - The total number of pixels in the uploaded image must be 50 Megapixels or smaller.
        - The image must be inserted in content within 24 hours or it will be removed.

        Responses include an `uploadUrl` which indicates where to upload the image. To upload the file,
        perform a PUT against the `uploadUrl` with the same authentication credentials and flow as the import request.
        For more details, see [Authentication documentation](ref:authentication). The response will also include
        a `Location` header, which indicates where to poll for results. For more details on long-running job polling, see
        [Operations endpoint](ref:getoperationbyid). When the upload completes, its status will be
        `completed`, and the response body includes a `resourceURL`.
      operationId: imageUpload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageUpload'
        description: Details about the image upload.
        required: false
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageUploadResponse'
          description: Accepted
          headers:
            Location:
              description: The location to poll for the operation result.
              schema:
                type: string
            Retry-After:
              description: The number of seconds to wait before polling for a result and between polling attempts.
              schema:
                type: integer
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:write
      summary: Initiate upload of an image
      tags:
        - Content
  /content/images/{imageId}:
    get:
      description: Returns a [`Image`](ref:content#image) given its id
      operationId: getImageById
      parameters:
        - $ref: '#/components/parameters/ImageId'
      responses:
        "200":
          content:
            application/json:
              example:
                downloadUrl: <opaque_url>
                fileName: example.png
                id: WW91IGZvdW5kIG1lIQ
                mimeType: image/png
              schema:
                $ref: '#/components/schemas/Image'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve an image by id
      tags:
        - Content
  /content/richText/{richTextId}/anchors:
    get:
      description: Returns an [`AnchorsListResult`](ref:content#anchorslistresult) for a given richTextId.
      operationId: getRichTextAnchors
      parameters:
        - $ref: '#/components/parameters/RichTextId'
        - $ref: '#/components/parameters/MaxPageSize'
        - $ref: '#/components/parameters/Next'
        - $ref: '#/components/parameters/Revision'
      responses:
        "200":
          content:
            application/json:
              example:
                '@nextLink': <opaque_url>
                data:
                  - attachmentPoint:
                      richTextSelection:
                        selection:
                          start:
                            offset: 0
                            paragraphIndex: 0
                          stop:
                            offset: 10
                            paragraphIndex: 0
                        type: sourceLink
                      type: richTextSelection
                    content:
                      richText: WA3NycHJw1VgQZyMYOgbw3kkVJLvc6HF6UnBwbY8WWHcsO3LsRFxaGng2cR
                      type: richText
                    id: WAxsaHxoYvTB4D0twUm6YtiF99TNO0gBkSOhgYBed9AMB99EUxqELDQychBeGR8SkZubm5sH
                    revision: 24601abc
                  - attachmentPoint:
                      richTextSelection:
                        selection:
                          start:
                            offset: 0
                            paragraphIndex: 0
                          stop:
                            offset: 10
                            paragraphIndex: 0
                        type: sourceLink
                      type: richTextSelection
                    content:
                      richText: WA3NycHJw1VgQZyMYOgbw3kkVJLvc6HF6UnBwbY8WWHcsO3LsRFxaGng2cR
                      type: richText
                    id: WAxsaHxoYvTB4D0twUm6YtiF99TNO0gBkSOhgYBed9AMB99EUxqELDQychBeGR7SkZucm5sD
                    revision: 24601abc
              schema:
                $ref: '#/components/schemas/AnchorsListResult'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve a list of rich text anchors
      tags:
        - Content
  /content/richText/{richTextId}/anchors/creation:
    post:
      description: |
        Create a new [`Anchor`](ref:content#anchor) using a [`RichTextAnchorCreation`](ref:content#richtextanchorcreation) request. This is a long running operation.

        Responses include a `Location` header, which indicates where to poll for
        results. For more details on long-running job polling, see
        [Operations endpoint](ref:getoperationbyid).
        When the creation completes, its status will be `completed`, and the response
        body includes a `resourceURL`. To GET the new rich text anchor, perform a GET
        on the `resourceURL` with the same authentication credentials and flow as the
        initial request. For more details, see
        [Authentication documentation](ref:authentication).
      operationId: richTextAnchorCreation
      parameters:
        - $ref: '#/components/parameters/RichTextId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RichTextAnchorCreation'
        description: The anchor creation requests
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            Location:
              description: The location to poll for the operation result.
              schema:
                type: string
            Retry-After:
              description: The number of seconds to wait before polling for a result and between polling attempts.
              schema:
                type: integer
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:write
      summary: Initiate creation of a new rich text anchor
      tags:
        - Content
  /content/richText/{richTextId}/anchors/{anchorId}:
    get:
      description: Returns an [`Anchor`](ref:content#anchor) given its id.
      operationId: getRichTextAnchorById
      parameters:
        - $ref: '#/components/parameters/RichTextId'
        - $ref: '#/components/parameters/AnchorId'
        - $ref: '#/components/parameters/Revision'
      responses:
        "200":
          content:
            application/json:
              example:
                attachmentPoint:
                  richTextSelection:
                    selection:
                      start:
                        offset: 0
                        paragraphIndex: 0
                      stop:
                        offset: 10
                        paragraphIndex: 0
                    type: sourceLink
                  type: richTextSelection
                content:
                  richText: WA3NycHJw1VgQZyMYOgbw3kkVJLvc6HF6UnBwbY8WWHcsO3LsRFxaGng2cR
                  type: richText
                id: WAxsaHxoYvTB4D0twUm6YtiF99TNO0gBkSOhgYBed9AMB99EUxqELDQychBeGR8SkZubm5sH
                revision: 24601abc
              schema:
                $ref: '#/components/schemas/Anchor'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve a rich text anchor by id
      tags:
        - Content
  /content/richText/{richTextId}/anchors/{anchorId}/extensions:
    get:
      description: Returns a paginated list of [`AnchorExtensions`](ref:content#anchorextension) for a given anchorId.
      operationId: getRichTextAnchorExtensions
      parameters:
        - $ref: '#/components/parameters/RichTextId'
        - $ref: '#/components/parameters/AnchorId'
        - $ref: '#/components/parameters/MaxPageSize'
        - $ref: '#/components/parameters/Next'
        - $ref: '#/components/parameters/Revision'
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - id: 2c64382b45553de1
                    type: destinationLink
              schema:
                $ref: '#/components/schemas/AnchorExtensionsListResult'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve a list of rich text anchor extensions
      tags:
        - Content
  /content/richText/{richTextId}/duplication/edit:
    post:
      description: |-
        Sends a [`RichTextDuplicationEdit`](ref:content#richtextduplicationedit) to perform on the rich text.
        The optional revision property can be used to identify a stable version of the text to use for selections. The latest revision is used if not specified.
        This is a long running operation. Responses include a `Location` header, which indicates where to poll for results. For more details on long-running job polling, see [Operations endpoint](ref:getoperationbyid).
        The `resourceUrl` field will be populated with a link to the [Rich Text Duplication Edit Results endpoint](ref:getrichtextduplicationeditresults) to retrieve the IDs of the new resources.
      operationId: richTextDuplicationEdit
      parameters:
        - $ref: '#/components/parameters/RichTextId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RichTextDuplicationEdit'
        description: The rich text duplication edits to apply
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            Location:
              description: The location to poll for the operation result.
              schema:
                type: string
            Retry-After:
              description: The number of seconds to wait before polling for a result and between polling attempts.
              schema:
                type: integer
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:write
      summary: Initiate duplication edits to rich text
      tags:
        - Content
  /content/richText/{richTextId}/edit:
    post:
      description: |-
        Sends a [`RichTextBatchEdit`](ref:content#richtextbatchedit) to perform as a batch on the rich text.
        The optional revision property can be used to identify a stable version of the text to use for selections. The latest revision is used if not specified.
        This is a long running operation. Responses include a `Location` header, which indicates where to poll for results. For more details on long-running job polling, see [Operations endpoint](ref:getoperationbyid).
        If the batch edit creates any new resources such as embedded tables, the `resourceUrl` field will be populated with a link to the [Rich Text Batch Edit Results endpoint](ref:getrichtextbatcheditresults) to retrieve the IDs of the new resources.
      operationId: richTextBatchEdit
      parameters:
        - $ref: '#/components/parameters/RichTextId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RichTextBatchEdit'
        description: The rich text edits to apply
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            Location:
              description: The location to poll for the operation result.
              schema:
                type: string
            Retry-After:
              description: The number of seconds to wait before polling for a result and between polling attempts.
              schema:
                type: integer
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:write
      summary: Initiate edits to rich text
      tags:
        - Content
  /content/richText/{richTextId}/links/edit:
    post:
      description: |-
        Sends a [`RichTextLinksBatchEdit`](ref:content#richtextlinksbatchedit) to perform as a batch on the rich text.
        The optional revision property can be used to identify a stable version of the text to use for selections. The latest revision is used if not specified.
        This is a long running operation. Responses include a `Location` header, which indicates where to poll for results. For more details on long-running job polling, see [Operations endpoint](ref:getoperationbyid).
        If the batch edit creates any new resources, such as destination links, the `resourceUrl` field will be populated with a link to the [Rich Text Links Batch Edit Results endpoint](ref:getrichtextlinksbatcheditresults) to retrieve the IDs of the new resources.
      operationId: richTextLinksBatchEdit
      parameters:
        - $ref: '#/components/parameters/RichTextId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RichTextLinksBatchEdit'
        description: The rich text link edits to apply
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            Location:
              description: The location to poll for the operation result.
              schema:
                type: string
            Retry-After:
              description: The number of seconds to wait before polling for a result and between polling attempts.
              schema:
                type: integer
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:write
      summary: Initiate edits to rich text links
      tags:
        - Content
  /content/richText/{richTextId}/paragraphs:
    get:
      description: Returns a [`ParagraphsListResult`](ref:content#paragraphslistresult) for a rich text object, given its id.
      operationId: getRichTextParagraphs
      parameters:
        - $ref: '#/components/parameters/RichTextId'
        - $ref: '#/components/parameters/MaxPageSize'
        - $ref: '#/components/parameters/Next'
        - $ref: '#/components/parameters/Revision'
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - index: 0
                    format:
                      bold: true
                    elements:
                      - type: chart
                        chart:
                          style:
                            styleGuide: a4a9271b80e94cccb541160c9f8e61d6
                            style: c3R5bGUta2V5Ol90Ymw
                            revision: 2B3C4D5E
                          dimensions:
                            height: 240
                            width: 240
                          table:
                            table: WA66srK9AtGU3PvTjs4dMCR9B34EoH6LqyloPIRNdxS5Bgs3p199MQzPsA
                            revision: 24601abc
                          length: 10
                          offset: 10
                    style:
                      styleGuide: a4a9271b80e94cccb541160c9f8e61d6
                      style: c3R5bGUta2V5Ol90Ymw
                      revision: 2B3C4D5E
                    properties:
                      alignment: justified
                      endIndent: 240
                      firstLineIndent: 240
                      pageBreakBefore: false
                      startIndent: 240
                '@nextLink': <opaque_url>
              schema:
                $ref: '#/components/schemas/ParagraphsListResult'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve rich text paragraphs
      tags:
        - Content
  /content/styleGuides/{styleGuideId}:
    get:
      description: |
        Returns the [`StyleGuide`](ref:content#styleguide) populated with the text styles, list styles, etc. The revision will ensure a static content.
      operationId: getStyleGuideById
      parameters:
        - $ref: '#/components/parameters/StyleGuideId'
        - $ref: '#/components/parameters/Revision'
      responses:
        "200":
          content:
            application/json:
              example:
                id: e810327bd46b4438b7feed9f1e2d055d
                orderedListStyles:
                  - id: bGlzdC5hcmFiaWM6ZTgxMDMyN2JkNDZiNDQzOGI3ZmVlZDlmMWUyZDA1NWQ
                    index: 0
                    isNormalStyle: true
                    listProgressions:
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignLeft
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: .
                          style:
                            sequenceType: numericSequence
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 1
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignLeft
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: .
                          style:
                            sequenceType: lowercaseAlphabeticSequence
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 2
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignRight
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: .
                          style:
                            sequenceType: lowercaseRomanSequence
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 3
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignLeft
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: .
                          style:
                            sequenceType: numericSequence
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 4
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignLeft
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: .
                          style:
                            sequenceType: lowercaseAlphabeticSequence
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 5
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignRight
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: .
                          style:
                            sequenceType: lowercaseRomanSequence
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 6
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignLeft
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: .
                          style:
                            sequenceType: numericSequence
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 7
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignLeft
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: .
                          style:
                            sequenceType: lowercaseAlphabeticSequence
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 8
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignRight
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: .
                          style:
                            sequenceType: lowercaseRomanSequence
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 9
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignLeft
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: .
                          style:
                            sequenceType: numericSequence
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 10
                    name: Numbered
                    notes: ""
                    type: orderedListStyle
                revision: 2c6438ab455b1513
                tableStyles:
                  - formats:
                      alignment: null
                      characterSpacing:
                        characterSpacing: 0
                        locked: false
                      emphasis:
                        bold: false
                        italic: false
                        locked: false
                        underline: false
                      firstLineIndent:
                        firstLineIndent: 0
                        locked: false
                      fontColor:
                        fontColor:
                          blue: 0
                          green: 0
                          red: 0
                        locked: false
                      fontFamily:
                        fontFamily: Arial
                        locked: true
                      fontSize:
                        fontSize: 10
                        locked: true
                      lineSpacing:
                        lineSpacing: 100
                        locked: false
                        unit: percent
                      spaceAfterParagraph:
                        locked: false
                        spaceAfterParagraph: 0
                      spaceBeforeParagraph:
                        locked: false
                        spaceBeforeParagraph: 0
                      startIndent:
                        locked: false
                        startIndent: 0
                    id: X3RibDplODEwMzI3YmQ0NmI0NDM4YjdmZWVkOWYxZTJkMDU1ZA
                    index: 0
                    isNormalStyle: true
                    name: Table (Normal)
                    notes: ""
                textStyles:
                  - formats:
                      alignment: null
                      characterSpacing:
                        characterSpacing: 0
                        locked: false
                      emphasis:
                        bold: false
                        italic: false
                        locked: false
                        underline: false
                      firstLineIndent:
                        firstLineIndent: 0
                        locked: false
                      fontColor:
                        fontColor:
                          blue: 0
                          green: 0
                          red: 0
                        locked: false
                      fontFamily:
                        fontFamily: Arial
                        locked: true
                      fontSize:
                        fontSize: 12
                        locked: true
                      lineSpacing:
                        lineSpacing: 120
                        locked: false
                        unit: percent
                      spaceAfterParagraph:
                        locked: false
                        spaceAfterParagraph: 0
                      spaceBeforeParagraph:
                        locked: false
                        spaceBeforeParagraph: 0
                      startIndent:
                        locked: false
                        startIndent: 0
                    id: X3R4dDplODEwMzI3YmQ0NmI0NDM4YjdmZWVkOWYxZTJkMDU1ZA
                    index: 0
                    isNormalStyle: true
                    name: Normal
                    notes: ""
                    type: paragraphStyle
                unorderedListStyles:
                  - id: YnVsbGV0LnJvdW5kOmU4MTAzMjdiZDQ2YjQ0MzhiN2ZlZWQ5ZjFlMmQwNTVk
                    index: 0
                    isNormalStyle: true
                    listProgressions:
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignLeft
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: ""
                          style:
                            sequenceType: unorderedSequence
                            unorderedGlyph: •
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 1
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignLeft
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: ""
                          style:
                            sequenceType: unorderedSequence
                            unorderedGlyph: ◦
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 2
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignLeft
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: ""
                          style:
                            sequenceType: unorderedSequence
                            unorderedGlyph: ▪
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 3
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignLeft
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: ""
                          style:
                            sequenceType: unorderedSequence
                            unorderedGlyph: •
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 4
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignLeft
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: ""
                          style:
                            sequenceType: unorderedSequence
                            unorderedGlyph: ◦
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 5
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignLeft
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: ""
                          style:
                            sequenceType: unorderedSequence
                            unorderedGlyph: ▪
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 6
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignLeft
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: ""
                          style:
                            sequenceType: unorderedSequence
                            unorderedGlyph: •
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 7
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignLeft
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: ""
                          style:
                            sequenceType: unorderedSequence
                            unorderedGlyph: ◦
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 8
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignLeft
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: ""
                          style:
                            sequenceType: unorderedSequence
                            unorderedGlyph: ▪
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 9
                      - formats:
                          bold: null
                          fontFamily: null
                          glyphAlignment:
                            alignment: glyphAlignLeft
                          indentation: null
                          italic: null
                          listText:
                            locked: false
                            prefix: ""
                            suffix: ""
                          style:
                            sequenceType: unorderedSequence
                            unorderedGlyph: •
                          symbolColor: null
                          symbolSize: null
                          underline: null
                        listLevel: 10
                    name: Bullet
                    notes: ""
                    type: unorderedListStyle
              schema:
                $ref: '#/components/schemas/StyleGuide'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve a style guide by id
      tags:
        - Content
  /content/styleGuides/{styleGuideId}/export:
    post:
      description: |
        Export the style guide with the given identifier. Options are
        specified using a
        [StyleGuideExport](ref:content#styleguideexport) object.

        Responses include a `Location` header, which indicates where to poll for
        results. For more details on long-running job polling, see
        [Operations endpoint](ref:getoperationbyid).
        When the export completes, its status will be `completed`, and the response
        body includes a `resourceURL`. To GET the exported style guide, perform a GET
        on the `resourceURL` with the same authentication credentials and flow as the
        initial request. For more details, see
        [Authentication documentation](ref:authentication).
      operationId: styleGuideExport
      parameters:
        - $ref: '#/components/parameters/StyleGuideId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StyleGuideExport'
        description: |
          Details about the style guide export. The most recent version will be exported if revision is omitted from the export details.
        required: false
      responses:
        "202":
          description: Accepted
          headers:
            Location:
              description: The location to poll for the operation result.
              schema:
                type: string
            Retry-After:
              description: The number of seconds to wait before polling for a result and between polling attempts.
              schema:
                type: integer
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Initiate a style guide export
      tags:
        - Content
  /content/styleGuides/{styleGuideId}/import:
    post:
      description: |
        Imports a style guide to the given identifier. This operation will replace the current style guide.

        Responses include an `uploadUrl` which indicates where to upload the style guide import. To upload the file,
        perform a PUT against the `uploadUrl` with the same authentication credentials and flow as the import request.
        For more details, see [Authentication documentation](ref:authentication). The response will also include
        a `Location` header, which indicates where to poll for results. For more details on long-running job polling, see
        [Operations endpoint](ref:getoperationbyid). When the upload completes, its status will be
        `completed`, and the response body includes a `resourceURL`. To GET the style guide, perform a GET
        on the `resourceURL` with the same authentication credentials and flow as the initial request.
      operationId: styleGuideImport
      parameters:
        - $ref: '#/components/parameters/StyleGuideId'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StyleGuideImportResponse'
          description: Accepted
          headers:
            Location:
              description: The location to poll for the operation result.
              schema:
                type: string
            Retry-After:
              description: The number of seconds to wait before polling for a result and between polling attempts.
              schema:
                type: integer
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:write
      summary: Initiate import of a style guide
      tags:
        - Content
  /content/tables/{tableId}/anchors:
    get:
      description: Returns an [`AnchorsListResult`](ref:content#anchorslistresult) given tableId.
      operationId: getTableAnchors
      parameters:
        - $ref: '#/components/parameters/TableId'
        - $ref: '#/components/parameters/MaxPageSize'
        - $ref: '#/components/parameters/Next'
        - $ref: '#/components/parameters/Revision'
      responses:
        "200":
          content:
            application/json:
              example:
                '@nextLink': <opaqueUrl>
                data:
                  - attachmentPoint:
                      range:
                        startColumn: 0
                        startRow: 0
                        stopColumn: 1
                        stopRow: 2
                      type: tableRange
                    content:
                      table: WA7i5vbm7lNaEn6XT9AtcW5vb22BJjMrqxmru
                      type: table
                    extensionTypes:
                      - destinationLink
                    id: WAxsaHxoYvTB4D0twUm6YtiF99TNO0gBkSOhgYBed9AMB99EUxqELDQychBeGR8SkZubm5sL
                    revision: 24601abc
              schema:
                $ref: '#/components/schemas/AnchorsListResult'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve a list of table anchors
      tags:
        - Content
  /content/tables/{tableId}/anchors/creation:
    post:
      description: |
        Create a new [`Anchor`](ref:content#anchor) using a [`TableAnchorCreation`](ref:content#tableanchorcreation) request. This is a long running operation.

        Responses include a `Location` header, which indicates where to poll for
        results. For more details on long-running job polling, see
        [Operations endpoint](ref:getoperationbyid).
        When the creation completes, its status will be `completed`, and the response
        body includes a `resourceURL`. To GET the new table anchor, perform a GET
        on the `resourceURL` with the same authentication credentials and flow as the
        initial request. For more details, see
        [Authentication documentation](ref:authentication).
      operationId: tableAnchorCreation
      parameters:
        - $ref: '#/components/parameters/TableId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableAnchorCreation'
        description: The details of range for which the table anchor needs to be created
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            Location:
              description: The location to poll for the operation result.
              schema:
                type: string
            Retry-After:
              description: The number of seconds to wait before polling for a result and between polling attempts.
              schema:
                type: integer
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:write
      summary: Initiate creation of a new table anchor
      tags:
        - Content
  /content/tables/{tableId}/anchors/{anchorId}:
    get:
      description: Returns an [`Anchor`](ref:content#anchor) given its id.
      operationId: getTableAnchorById
      parameters:
        - $ref: '#/components/parameters/TableId'
        - $ref: '#/components/parameters/AnchorId'
        - $ref: '#/components/parameters/Revision'
      responses:
        "200":
          content:
            application/json:
              example:
                attachmentPoint:
                  range:
                    startColumn: 0
                    startRow: 0
                    stopColumn: 1
                    stopRow: 2
                  type: tableRange
                content:
                  table: WA7i5vbm7lNaEn6XT9AtcW5vb22BJjMrqxmru
                  type: table
                id: WAxsaHxoYvTB4D0twUm6YtiF99TNO0gBkSOhgYBed9AMB99EUxqELDQychBeGR8SkZubm5sL
                revision: 24601abc
              schema:
                $ref: '#/components/schemas/Anchor'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve a table anchor by ID
      tags:
        - Content
  /content/tables/{tableId}/anchors/{anchorId}/extensions:
    get:
      description: Returns a paginated list of [`AnchorExtensions`](ref:content#anchorextension) for a given anchorId.
      operationId: getTableAnchorExtensions
      parameters:
        - $ref: '#/components/parameters/TableId'
        - $ref: '#/components/parameters/AnchorId'
        - $ref: '#/components/parameters/MaxPageSize'
        - $ref: '#/components/parameters/Next'
        - $ref: '#/components/parameters/Revision'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnchorExtensionsListResult'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve a list of table anchor extensions
      tags:
        - Content
  /content/tables/{tableId}/cells:
    get:
      description: Returns a [`TableCellsResult`](ref:content#tablecellsresult) for a given tableId.
      operationId: getTableCells
      parameters:
        - $ref: '#/components/parameters/TableId'
        - $ref: '#/components/parameters/Revision'
        - $ref: '#/components/parameters/MaxCellsPerPage'
        - $ref: '#/components/parameters/Next'
        - $ref: '#/components/parameters/StartRow'
        - $ref: '#/components/parameters/StopRow'
        - $ref: '#/components/parameters/StartColumn'
        - $ref: '#/components/parameters/StopColumn'
      responses:
        "200":
          content:
            application/json:
              example:
                '@nextLink': <opaque_url>
                data:
                  - cells:
                      - properties:
                          borders:
                            bottom:
                              color:
                                red: 128
                                green: 128
                                blue: 128
                              style: single
                              weight: 1
                            left:
                              color:
                                red: 128
                                green: 128
                                blue: 128
                              style: single
                              weight: 1
                            right:
                              color:
                                red: 128
                                green: 128
                                blue: 128
                              style: single
                              weight: 1
                            top:
                              color:
                                red: 128
                                green: 128
                                blue: 128
                              style: single
                              weight: 1
                          fillColor:
                            red: 136
                            green: 204
                            blue: 255
                          horizontalAlignment: left
                          indent: 10
                          verticalAlignment: middle
                        rawValue: Hello World
                        value:
                          richText:
                            paragraphs:
                              - elements:
                                  - textSpan:
                                      format: {}
                                      length: 5
                                      offset: 0
                                      text: Hello
                                      type: text
                                    type: textSpan
                                format:
                                  bold: true
                                  font: Arial
                                  size: 24
                                index: 3
                          type: richText
                range:
                  startColumn: 0
                  startRow: 0
                  stopColumn: 0
                  stopRow: 0
                revision: 24601abc
              schema:
                $ref: '#/components/schemas/TableCellsResult'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve table cell content
      tags:
        - Content
  /content/tables/{tableId}/cells/edit:
    post:
      description: |
        Sends a [`TableCellsBatchEdit`](ref:content#tablecellsbatchedit) to perform on the cells in a table.

        The optional revision property can be used to identify a stable cell location in the table. The latest revision is used if not specified.

        Responses include a `Location` header, which indicates where to poll for results. For more details on long-running job polling, see[ Operations endpoint ](ref:getoperationbyid). When the creation completes, its status will be `completed`, and the response\nbody includes a `resourceURL`.\n"
      operationId: tableCellsBatchEdit
      parameters:
        - $ref: '#/components/parameters/TableId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableCellsBatchEdit'
        description: The table cell edit to apply
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            Location:
              description: The location to poll for the operation result.
              schema:
                type: string
            Retry-After:
              description: The number of seconds to wait before polling for a result and between polling attempts.
              schema:
                type: integer
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:write
      summary: Initiate edits to table cells
      tags:
        - Content
  /content/tables/{tableId}/properties/columns:
    get:
      description: |
        Returns a [`ColumnPropertiesListResult`](ref:content#columnpropertieslistresult) for a table
      operationId: getColumnProperties
      parameters:
        - $ref: '#/components/parameters/TableId'
        - $ref: '#/components/parameters/Revision'
        - $ref: '#/components/parameters/MaxPageSize'
        - $ref: '#/components/parameters/Next'
        - $ref: '#/components/parameters/StartColumn'
        - $ref: '#/components/parameters/StopColumn'
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - width: 60
                    hidden: false
                '@nextLink': <opaque_url>
              schema:
                $ref: '#/components/schemas/ColumnPropertiesListResult'
          description: OK
          headers: {}
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve table column properties
      tags:
        - Content
  /content/tables/{tableId}/edit:
    post:
      description: |
        Sends a single [`TableEdit`](ref:content#tableedit) to perform on the table.

        Responses include a `Location` header, which indicates where to poll for results. For more details on long-running job polling, see
        [ Operations endpoint ](ref:getoperationbyid). When the creation completes, its status will be `completed`, and the response
        body includes a `resourceURL`.
      operationId: tableEdit
      parameters:
        - $ref: '#/components/parameters/TableId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableEdit'
        description: The table edit to apply
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            Location:
              description: The location to poll for the operation result.
              schema:
                type: string
            Retry-After:
              description: The number of seconds to wait before polling for a result and between polling attempts.
              schema:
                type: integer
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:write
      summary: Initiate edit to a table
      tags:
        - Content
  /content/tables/{tableId}/filters/reapplication:
    post:
      description: |
        Performs a [`TableFiltersReapplication`](ref:content#tablefiltersreapplication) on the specified table.
        This endpoint is used to refresh the table's filters based on the latest state or configuration changes.
        The filters are reapplied in the context of the table's current data state.
        This is a long running operation. Responses include a `Location` header, which indicates where to poll for results. For more details on
        long-running job polling, see [Operations endpoint](ref:getoperationbyid).
      operationId: tableFiltersReapplication
      parameters:
        - $ref: '#/components/parameters/TableId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableFiltersReapplication'
        description: The filter reapplication request to apply
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            Location:
              description: The location to poll for the operation result.
              schema:
                type: string
            Retry-After:
              description: The number of seconds to wait before polling for a result and between polling attempts.
              schema:
                type: integer
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:write
      summary: Reapply filters to the table
      tags:
        - Content
  /content/tables/{tableId}/links/edit:
    post:
      description: |
        Sends a [`TableLinksBatchEdit`](ref:content#tablelinksbatchedit) to perform on the links in a table.

        The optional revision property can be used to identify a stable cell location in the table. The latest revision is used if not specified.

        If the edit creates any new resources, such as destination links, the `resourceUrl` field will be populated with a link to the [Table Links Edit Results endpoint](ref:gettablelinkseditresults) to retrieve the IDs of the new resources.
      operationId: tableLinksBatchEdit
      parameters:
        - $ref: '#/components/parameters/TableId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableLinksBatchEdit'
        description: The table link edits to apply
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            Location:
              description: The location to poll for the operation result.
              schema:
                type: string
            Retry-After:
              description: The number of seconds to wait before polling for a result and between polling attempts.
              schema:
                type: integer
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:write
      summary: Initiate edit to table links
      tags:
        - Content
  /content/tables/{tableId}/rangeLinks:
    get:
      description: Returns a [`RangeLinkListResult`](ref:content#rangelinklistresult) for a given tableId.
      operationId: getRangeLinks
      parameters:
        - $ref: '#/components/parameters/TableId'
        - $ref: '#/components/parameters/MaxPageSize'
        - $ref: '#/components/parameters/Next'
        - $ref: '#/components/parameters/Revision'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RangeLinkListResult'
              example:
                '@nextLink': <opaque_url>
                data:
                  - id: f649093edf354cfe8ce52fa60990a109
                    table: WA66srK9AtGU3PvTjs4dMCR9B34EoH6LqyloPIRNdxS5Bgs3p199MQzPsA
                    revision: 24601abc
                    type: destination
                    destination:
                      source:
                        rangeLink: 8ce52fa60990a109f649093edf354cfe
                        table: WA66srK9AtGU3PvTjs4dMCR9B34EoH6LqyloPIRNdxS5Bgs3p199MQzPsA
                        revision: 24601abc
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve a list of range links
      tags:
        - Content
  /content/tables/{tableId}/rangeLinks/{rangeLinkId}:
    get:
      description: Returns a [`RangeLink`](ref:content#rangelink) given its id
      operationId: getRangeLinkById
      parameters:
        - $ref: '#/components/parameters/TableId'
        - $ref: '#/components/parameters/RangeLinkId'
        - $ref: '#/components/parameters/Revision'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RangeLink'
              example:
                id: f649093edf354cfe8ce52fa60990a109
                table: WA66srK9AtGU3PvTjs4dMCR9B34EoH6LqyloPIRNdxS5Bgs3p199MQzPsA
                revision: 24601abc
                type: source
                source:
                  range:
                    startRow: 0
                    stopRow: 0
                    startColumn: 0
                    stopColumn: 1
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve a range link by id
      tags:
        - Content
  /content/tables/{tableId}/rangeLinks/{rangeLinkId}/destinations:
    get:
      description: Returns a [`RangeLinkListResult`](ref:content#rangelinklistresult) of destinations for a given source range link.
      operationId: getRangeLinkDestinations
      parameters:
        - $ref: '#/components/parameters/TableId'
        - $ref: '#/components/parameters/RangeLinkId'
        - $ref: '#/components/parameters/MaxPageSize'
        - $ref: '#/components/parameters/Next'
        - $ref: '#/components/parameters/Revision'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RangeLinkListResult'
              example:
                '@nextLink': <opaque_url>
                data:
                  - id: f649093edf354cfe8ce52fa60990a109
                    table: WA66srK9AtGU3PvTjs4dMCR9B34EoH6LqyloPIRNdxS5Bgs3p199MQzPsA
                    revision: 24601abc
                    type: destination
                    destination:
                      source:
                        rangeLink: 8ce52fa60990a109f649093edf354cfe
                        table: WA66srK9AtGU3PvTjs4dMCR9B34EoH6LqyloPIRNdxS5Bgs3p199MQzPsA
                        revision: 24601abc
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - oauth:
            - file:read
      summary: Retrieve range link destinations for a source
      tags:
        - Content
  /content/tables/{tableId}/rangeLinks/edit:
    post:
      description: |
        Sends a [`RangeLinkEdit`](ref:content#rangelinkedit) to perform on the range links in a table.
        This is a long running operation. Responses include a `Location` header, which indicates where to poll for results. For more details on long-running job polling, see [Operations endpoint](ref:getoperationbyid).
      operationId: tableRangeLinksEdit
      parameters:
        - $ref: '#/components/parameters/TableId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RangeLinkEdit'
        description: The table range link edit to apply
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            Location:
              description: The location to poll for the operation result.
              schema:
                type: string
            Retry-After:
              description: The number of seconds to wait before polling for a result and between polling attempts.
              schema:
                type: integer
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/Conflict'
        "429":
[...]
